.background {
    /* Rectangle 1 */
    position: absolute;
    width: 419px;
    height: 838px;
    left: 0px;
    top: 0px;

    /* background: #E6FFFB; */
}

.title {
    /* Update Password */
    position: absolute;
    width: 292px;
    height: 100px;
    left: 37px;
    top: 95px;

    font-family: 'monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 1px;

    /* color: #000000; */
}

.box {
    /* Rectangle 4 */
    /* position: static; */
    /* align-items: center; */
    width: 313px;
    height: 322px;
    /* left: 23px;
    top: 213px; */
    align-Self: center;

    /* background: #7FB4AC; */
    /* opacity: 0.5; */
    border-radius: 30px;
}

.boxLine1 {
    /* Line 1 */
    position: absolute;
    width: 250px;
    height: 0px;
    left: 30px;
    top: 80px;

    opacity: 0.3;
    /* border: 3px solid #5C5C5C; */
    transform: rotate(-0.2deg);
}

.boxLine2 {
    /* Line 4 */
    position: absolute;
    width: 250px;
    height: 0px;
    left: 30px;
    top: 165px;

    opacity: 0.3;
    /* border: 3px solid #5C5C5C; */
    transform: rotate(-0.2deg);
}
.boxLine3 {
    /* Line 5 */
    position: absolute;
    width: 250px;
    height: 0px;
    left: 30px;
    top: 250px;

    opacity: 0.3;
    /* border: 3px solid #5C5C5C; */
    transform: rotate(-0.2deg);
}


.confirmButton {
/* Rectangle 3 */
    /* position: absolute; */
    width: 124px;
    height: 44px;
    /* left: 109px;
    top: 250px; */
    align-Self: center;
    top: 250px;

    /* background: #7FB4AC; */
    border-radius: 50px;
}

.confirm {
    /* Confirm */
    /* position: absolute; */
    width: 86px;
    height: 30px;
    left: 28px;
    top: 12px; 

    font-family: 'monospace';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* or 120% */

    letter-spacing: 1px;
    text-decoration-line: underline;

    /* color: #FFFFFF; */
}