
.box {
    /* Rectangle 4 */
    /* position: static; */
    /* align-items: center; */
    margin-top: 20px;
    width: 330px;
    height: 230px;
    /* opacity: 0.2; */

    border-radius: 30px;
}

.boxLine1 {
    /* Line 1 */

    /* width: 250px; */
    height: 40px;
    /* margin-top: 40px; */
    /* align-self: center; */
    align-self: stretch;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 40px; */
    /* justify-content: space-evenly; */

    opacity: 0.7;
    border-radius: 30px;
    /* border: 3px solid #5C5C5C; */
    /* transform: rotate(-0.2deg); */
}

.confirmButton {
/* Rectangle 3 */
    /* position: absolute; */
    width: 124px;
    height: 30px;
    /* left: 109px;
    top: 250px; */
    align-Self: center;


    /* background: #7FB4AC; */
    border-radius: 50px;
}

.confirm {
    /* Confirm */
    /* position: absolute; */
    width: 86px;
    height: 30px;
    left: 28px;
    top: 12px; 

    font-family: 'monospace';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* or 120% */

    letter-spacing: 1px;
    text-decoration-line: underline;

    /* color: #FFFFFF; */
}